@charset "utf-8";
/* CSS Document */
.bg_image {
  background-image: url(http://codewizinc.com/memorial/public/images/one.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  min-height: 700px;
}
.brd {
  border: 10px solid #d0d0d0;
}
/*.inner_img_top {
  background-image: url(images/frame_4.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  /* top: 85px; */
  /*width: 100%;
  height: inherit;
}*/*/
.inner_img_bottom {
  background-image: url(http://codewizinc.com/memorial/public/images/tem_2.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100%;
  /*position: absolute;
*/  bottom: 24px;
  width: 100%;
  height: 300px;
}
.center {
  text-align: center;
  /*position: absolute;*/
  /*top: 30px;*/
  color: white;
  /*padding-left: 10px;
  padding-right: 10px;*/
  z-index: 9999;
  color: #000;
}
.sample {
  display: block;
  margin: auto;
  width: 60%;
  /*position: absolute;*/
  left: 22%;
  top: 36%;
}
.txt {
  background-color: transparent;
  /*height: 270px;*/
  /*margin-top: 17.5rem;*/
  width: 254px;
  border: none;
  outline: none;
  margin-left: 45px;
  color: #000;
  font-weight: 500;
}
.disply_grid {
  display: grid;
  padding-left: 30px;
}
.mg_lft {
  margin-left: 10px;
}
.txt_lft {
  text-align: left;
}
.txt_rgt {
  text-align: right;
}
.txt_cen {
  text-align: center;
}
.wd_100 {
  width: 100%;
}
.fnt_16px {
  font-size:16px;
}
.img_top {
  /*background-image: url(http://codewizinc.com/memorial/public/images/top_bar.png);*/
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  /*position: absolute;*/
  /* top: 85px; */
  width: 100%;
  height: inherit;
}
.img_top h2 {
  text-align:center;
  color:#FFF;
      margin-top: -6px;
  }
.lft_txt {
  /*background-color: rgba(0,194,156,0.4);*/
  background-color: transparent;
  /*height: 270px;*/
  /*margin-top: 17.5rem;*/
  width:80%;
  border: none;
  outline: none;
  /*margin-left: 53px;*/
  color: #fff;
  font-weight: 500;
  height:35px;
  padding-left:20px;
  /*border-radius: 0px;*/
  border: 1px solid #00c29c;
}
.rght_txt{
  /*background-color: rgba(0,194,156,0.4);*/
  background-color: transparent;
  /*height: 270px;*/
  /*margin-top:24.5rem;*/
  width: 80%;
  border: none;
  outline: none;
  /*margin-left:53px;*/
  color: #fff;
  font-weight: 500;
  height:35px;
  padding-left:20px;
  /*border-radius: 10px;*/
  border: 1px solid #00c29c;
}
p.area {
   /* position: absolute;*/
    color: #58e7c7;
    font-weight: 600;
    font-size: 18px;
  /*  margin-top: 31.5rem;*/
    padding-left: 55px;
  padding-top: 20px;
}
form {
   /*   position: absolute;*/
   /* margin-top: 34.5rem;*/
   /* padding-left: 35px;*/
  }
label {
  color:#FFF;}
  
.msg_txt {
  background-color: rgba(0,194,156,0.4);
  /*height: 270px;*/
  /*margin-top:24.5rem*/;
  width: 100%;
  border: none;
  outline: none;
  margin-left:53px;
  color: #fff;
  font-weight: 500;
  height:45px;
  padding-left:20px;
}
.msg {
    text-align: center;
}
textarea {
    margin-top: 5px;
    background-color: transparent;
    border: 1px solid #00c29c;
    width: 80%;
    color: white;
    /*padding-left: 20px;*/
    /*border-radius: 10px;*/
    outline: none;
  }
.sbmt {
      text-align: center;
    padding-top: 10px;
  }
button {
       background-color: #20c8ad;
    border: none;
    color: white;
    /* height: 45px; */
    /* width: 95px; */
    border-radius: 5px;
    padding: 12px 20px;
    line-height: 1.2;
    text-align: center;
    outline: none;
}
h2 {
  font-size:22px;
  font-weight:600;}
.txt_align {
  text-align:center;
  padding-top:40px;
  }
.pd_20px {
  padding-top:20px;
  }
.checkbox_label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #00c29c;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox_label:hover input ~ .checkmark {
  background-color:#00c29c;
}

/* When the checkbox is checked, add a blue background */
.checkbox_label input:checked ~ .checkmark {
  background-color: #00c29c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_label .checkmark:after {
  left: 9px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.text_align_center {
 /*text-align:center;*/
 padding-left: 25px;
 padding-right: 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: white;
}
::-moz-placeholder { /* Firefox 19+ */
 color: white;
}
:-ms-input-placeholder { /* IE 10+ */
 color: white;
}
:-moz-placeholder { /* Firefox 18- */
 color: white;
}
.pd_0px {
  padding-left: 15px;
  padding-right: 0px;
}
.captch {
  margin-top: 15px;
}