/* vijay ADD css */
.label-category{
    font-size: 18px;
}
#users-table_processing{
    display: none;
}
.modal{
    background-color: transparent !important;
    max-width: 100% !important;
   /* -webkit-transform: translate(0%, -100%) !important;
    -moz-transform: translate(0%, -100%) !important;
    -ms-transform: translate(0%, -100%) !important;
    -o-transform: translate(0%, -100%) !important;*/
    transform: translate(0%, -100%) !important;
    position: inherit !important;
    top: 0;
    /*width: 100%;*/
}
.users-table-1{
     transform: translate(0%, -142%) !important;
}
/* end css */
.mt30 {
    margin-top: 30px;
}

.contact_spouse_photo {
    /*max-height: 125px;*/
    /*max-height: 250px !important;*/
    max-height: 130px;
    min-height: 130px;
    max-width: 63%;
}

.selectheight {
    height: 60px !important;
}

.logo_mid { 
    position: absolute;
    left: calc(52% - 100px);
}

.form-group .control-label {
    text-align: left;
    font-weight: 500;
}

.required{
   color:red;
}

.eventViewHeader {
    border: none;
    padding-top: 20px;
    color: #767b88;
}

.eventSubheading {
    color: #767b88;
    font-size: 17px;
    font-weight: 400;
    padding-left: 7px;
}


/*.eventViewHeaderRight {
        padding : 10px 0px ;
.ulli_form ul li{float: left; width: 48%;margin-bottom: 20px;list-style: none;}
.ulli_form ul li:nth-child(odd){float: left;}
.ulli_form ul li:nth-child(even){float: right;}*/



.text_bold1{
    font-weight: 600 !important;
}

.text_padding1 {
    padding: 7.75px !important;
}

.keyword {
    margin-left: 20px;
    width: 702px;
}

input#tags_1 {
    width: 710px;
}

@media screen and (max-width: 500px){
    .ulli_form ul li{width: 100%;}
}

.text_bold1{
    font-weight: 600 !important;
}

.text_padding1 {
    padding: 8px !important;
}

.site_title > .img-responsive {
    vertical-align: middle;
    height: 80%;
    MARGIN-TOP: 2% !important;
    max-width: 100%;
    margin: 0 auto;
}

.my-photo-box {
    max-height: 130px;
    min-height: 130px;
    max-width: 63%;
    text-align: center;
}

.my-photo-box-view {
    /*max-height: 130px;
    min-height: 130px;
    max-width: 63%;*/
    text-align: center;
    overflow: hidden;
}

.tab-content > .tab-pane {
    display: block;
    height:0;
    overflow:hidden;
}

.tab-content > .active {
    display: block;
    height:auto;
}

.form-control:focus{ 
    border-color: #36c6d3;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.contact_delivery_address {
    margin-left: 36px;
    margin-top: 16px;
}

.remove {
    cursor: pointer;
}

.job_position_status {
    margin-left: 36px;
}

/* edited by monika */
.modal-confirm {		
    color: #636363;
    width: 400px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}
.modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;		
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
    color: #999;
}		
.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}
.modal-confirm .btn-info {
    background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #a8a8a8;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}
a#deleteurl {
    color: #fff;
    line-height: 28px;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}
span.bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #26B99A !important;
    border-radius: 0 !important;
}
#users-table th,#users-table td {
    vertical-align: middle;
    font-size: 13px;
}

/* Customize the label (the container) */
.col-sm-12 label.chk {
    display: block;
    position: relative;

    margin: 0px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*padding: 0px 0 10px 35px;*/
    padding: 0px 0 16px 0px;
}
td .chk {
    display: block;
    position: relative;
    padding: 7px 0px !important;
    margin: 0px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#users-table th:first-child, #users-table td:first-child ,#users-table th.sorting_disabledfirst-child{
    width: 19px !important;
    padding: 5px;
    margin: 0;
}
/* Hide the browser's default checkbox */
.chk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.chk:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chk input:checked ~ .checkmark {
    background-color: #26B99A;
}
.chk input:disabled ~ .checkmark {
    background: #eee;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chk input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chk .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}