@charset "utf-8";
.bg_image {
  background-image: url("http://codewizinc.com/memorial/public/images/tem_4.png");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.brd {
  border: 10px solid #d0d0d0;
}
.inner_img_top {
  background-image: url("http://codewizinc.com/memorial/public/images/frame_4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  /* top: 85px; */
  width: 100%;
  height: inherit;
}
.inner_img_bottom {
  background-image: url("http://codewizinc.com/memorial/public/images/tem_2.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 24px;
  width: 100%;
  height: 300px;
}
.center {
  text-align: center;
  position: absolute;
/*  top: 30px;*/
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 9999;
}
.sample {
  display: block;
  margin: auto;
  width: 60%;
  position: absolute;
  left: 22%;
  top: 36%;
}
.center .txt {
  background-color: transparent;
      height: 270px;
    width: 250px;
    border: none;
    outline: none;
    margin-left: 45px;
  color:#FFF;
}
.brd {
      border: 5px solid white;
  }
.clr h2, .clr td{
  color:#FFF;
  }
.disply_grid {
  display: grid;
  padding-left: 30px;
}
.mg_lft {
  margin-left: 10px;
}
.txt_lft {
  text-align: left;	
}
.txt_rgt {
  text-align: right;
}
.txt_cen {
  text-align: center;
}
.wd_100 {
  width: 100%;
}
.fnt_16px {
  font-size:16px;
}
.clr .txt {
    background-color: transparent;
    /* height: 270px; */
    /* width: 254px; */
    border: none;
    outline: none;
    /* margin-left: 45px; */
    color: #000;
    text-align: center;
}
.brd .txt {
    background-color: transparent;
    /* height: 270px; */
    width: 100%; 
    border: none;
    outline: none;
    /* margin-left: 45px; */
    color: #000;
    text-align: center;
  height: auto;
    margin-left: 0px;
}
textarea{  
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  /*padding:10px;*/
  width:250px;
  font-size:14px;
  /*margin:0px auto;
*/  /*display:block;*/
  border-radius:10px;
  border:6px solid #556677;
}
