@charset "utf-8";
/* CSS Document */
.bg_image {
	background-image: url(http://codewizinc.com/memorial/public/images/one.png);
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	background-size: cover;
}
.inner_img_top {
	background-image: url(http://codewizinc.com/memorial/public/images/top_left.png);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 50%;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 300px;
}
.inner_img_bottom {
	background-image: url(http://codewizinc.com/memorial/public/images/bottom_right.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 50%;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 300px;
}
.center {
	text-align: center;
	position: absolute;
	top: 30px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 9999;
}
.sample {
	position:absolute;
    width:60%;
    height:40%;
    margin: auto;
    z-index:10;
    opacity:0;
    left: 22%;
    top: 36%;
    display: block;
    background-color: #CCCCCC;
}
.txt {
	background-color: transparent;
	height: 150px;
	width: 245px;
	border: none;
	outline: none;
	margin-left: 15px;
	font-size: 25px;
}
