@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


/*
	font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Lato', sans-serif;
*/

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
	/*border: dotted 1px #868e96;*/
}

body{
	font-family: 'Nunito', sans-serif;
}

h1,h2{
	font-weight: 600;
	font-size: 35px;
	color: #3498DB;
	line-height: 35px;
}

.card-header{
	border-bottom: 0px; 
}

.card-body{
	padding: 15px 20px; 
}

.menu{
	padding: 0px;
}

.navbar{
	padding: 0px 20px;
}

.logo{
	font-size: 1.5rem;
	font-weight: 600;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	background: -webkit-linear-gradient(60deg, #ff5263 0%, #ff7381 35%, #fcbd01 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 13px 16px;
}

.navbar-light .navbar-nav .nav-link{
	color: #fda924;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	padding: 10px 19px;
	border-bottom: 4px solid transparent;
	transition: border-bottom 0.8s ease 0s;
}

.navbar-light .navbar-nav .nav-link:visited,
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active{
	color: #fda924;
	font-weight: 400;
	border-bottom: 4px solid #fda924;
}

.carousel-inner{
	/*max-height: 500px !important;*/
}

.mib-content-container1{
/*	margin-top: 0px;*/
}

.mib-content{
	padding: 25px;
}

.mib-content>h1{
	padding-top: 15px;
}

.mib-content>p{
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	color: #4A535A;
	padding-top: 10px;
}

.login-title{
	text-align: center;
	font-size: 32px;
	font-family: 'Nunito', sans-serif;
	color: #3498DB;
}

.tab-pane{
	padding: 15px 30px;
	border: 1px solid #dee2e6;
	border-top: 0px;
}

.steps-of-website{
/*	margin: 40px auto 0px auto;*/
	padding: 40px 15px;
}

.steps-title{
	margin-bottom: 25px;
}

.steps-title h4{
	font-size: 20px;
	color: #4A535A;
}

.steps{
	margin: 0px auto 20px auto;
	padding: 5px 25px;
}

.step-heading{
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	margin-bottom: 0px;
	font-weight: 600;
}

.mib-hr:before{
	content: '• • •';
	font-size: 18px;
}

.mib-hr{
	display: inline-block;
	border: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.step-desc{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
}











.about-us{
	margin: 50px auto;
}

.about-content, .our-mission, .we-are-diff{
	margin-top: 50px;
}










.contact{
	margin: 30px auto;
}

.contact-address .heading{
	padding-top: 20px;
}

.contact-address strong, .contact-address i{
	font-size: 20px;
}

.contact-address span{
	font-size: 16px;
}









.feedback{
	margin: 50px auto;
}

.feedback h1{
	margin-bottom: 30px;
}











.privacy-policy-content{
	margin: 50px auto;
}












.t-c{
	margin: 50px auto;
}













/*complete profile*/
.step-indicator{
	padding: 10px 0px;
}

.cp-form-title{
	color: #737591;
	background-color: #fff;
	font-size: 22px;
	font-weight: 600;
	padding: 5px;
}

.cp-title-design{
	border-top: 2px solid #737591;
	margin-top: -13px;
	margin-bottom: 2rem;
}

.institute-detail{
	margin-top: 50px;
}













/*Payment Mode*/
.pay-option input[type="radio"] {
	display: none;
	&:not(:disabled) ~ label {
		cursor: pointer;
	}
	&:disabled ~ label {
		color: hsla(150, 5%, 75%, 1);
		border-color: hsla(150, 5%, 75%, 1);
		box-shadow: none;
		cursor: not-allowed;
	}
}

.pay-option label {
	height: 100%;
	display: block;
	background: white;
	border: 2px solid #1dc973;
	border-radius: 20px;
	padding: 1rem;
	margin-bottom: 1rem;
	//margin: 1rem;
	text-align: center;
	box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
	position: relative;
	width: 100%;
}

.pay-option p{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0;
}

.pay-option input[type="radio"]:checked + label {
	background: hsla(150, 75%, 50%, 1);
	color: hsla(215, 0%, 100%, 1);
	box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);
}

.pay-option input[type="radio"]:checked + label ::after {
	color: hsla(215, 5%, 25%, 1);
	font-family: FontAwesome;
	border: 2px solid hsla(150, 75%, 45%, 1);
	content: "\f00c";
	font-size: 15px;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background: white;
	box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
}

.payment-done-message p{
	font-size: 24px;
	font-weight: 600;
}

.payment-pending-message p{
	font-size: 24px;
	font-weight: 600;
}











/*Profile*/
.edit-btn{
	margin-bottom: 0px;
}














/*Demo test*/
.question{
	font-size: 18px;
}














.footer{
	background-color: #34495e;
	color: #fff;
}

.footer-social{
	padding: 25px 30px;
	background-color: #9c27b0;
}

.social-icons a{
	color: #fff;
	font-size: 20px;
	padding: 10px;
}

.footer-main{
	padding: 30px 0px;
}

.footer-main .col-lg-4{
	padding: 0px 30px;
}

footer .logo{
	font-size: 30px;
	color: #fff;
	-webkit-text-fill-color: #fff;
	padding: 0px;
}

.footer-heading{
	font-size: 20px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 5px;
}

.footer-heading .clearfix{
	margin-bottom: -15px;
}

.mib-hr1{
	width: 70px;
	display: inline-block;
	border-top: 2px solid #fff;
	margin-top: 0px;
	margin-bottom: 5px;
}

.footer-menu ul a:before{
	content: '\f105';
	font-family: FontAwesome;
	font-weight: 600;
	margin-right: 7px;
}

.footer-menu ul a{
	padding-left: 0px;
	color: inherit;
	text-decoration: none;
	transition: padding-left 0.3s;
}

.footer-menu ul a:hover{
	padding-left: 5px;
}




/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.edit-btn{
		margin-bottom: -40px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.mib-content-container1{
		/*margin-top: 10px;*/
	}







	.contact{
		margin: 50px auto;
	}

	.contact-address .heading{
		padding-top: 0px;
	}







	.cp-form-title{
		font-size: 26px;
	}
	.cp-title-design{
		margin-top: -15px;
	}





	.pay-option input[type="radio"]:checked + label ::after {
		font-size: 20px;
		height: 50px;
		width: 50px;
		line-height: 50px;
	}
	.pay-option p{
		font-size: 25px;
		font-weight: 600;
	}







	.question{
		font-size: 22px;
	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.navbar-nav .nav-link{
		padding: 19px !important;
	}

	.mib-content-container1{
		/*margin-top: 60px;*/
	}

	h1,h2{
		font-weight: 600;
		font-size: 45px;
		color: #3498DB;
		line-height: 50px;
	}




	.edit-btn{
		margin-bottom: -50px;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}


































.blueimp-gallery,
.blueimp-gallery > .slides > .slide > .slide-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-moz-backface-visibility: hidden;
}
.blueimp-gallery > .slides > .slide > .slide-content {
	margin: auto;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	opacity: 1;
}
.blueimp-gallery {
	position: fixed;
	z-index: 999999;
	overflow: hidden;
	background: #000;
	background: rgba(0, 0, 0, 0.9);
	opacity: 0;
	display: none;
	direction: ltr;
	-ms-touch-action: none;
	touch-action: none;
}
.blueimp-gallery-carousel {
	position: relative;
	z-index: auto;
	margin: 1em auto;
	padding-bottom: 56.25%;
	box-shadow: 0 0 10px #000;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}
.blueimp-gallery-display { display: block; opacity: 1; }
.blueimp-gallery > .slides {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.blueimp-gallery-carousel > .slides { position: absolute; }
.blueimp-gallery > .slides > .slide {
	position: relative;
	float: left;
	height: 100%;
	text-align: center;
	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
		 -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
			-ms-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
			 -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
					transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.blueimp-gallery,
.blueimp-gallery > .slides > .slide > .slide-content {
	-webkit-transition: opacity 0.2s linear;
		 -moz-transition: opacity 0.2s linear;
			-ms-transition: opacity 0.2s linear;
			 -o-transition: opacity 0.2s linear;
					transition: opacity 0.2s linear;
}
.blueimp-gallery > .slides > .slide-loading {
	background: url(../images/loading.gif) center no-repeat;
	background-size: 64px 64px;
}
.blueimp-gallery > .slides > .slide-loading > .slide-content {
	opacity: 0;
}
.blueimp-gallery > .slides > .slide-error {
	background: url(../images/error.png) center no-repeat;
}
.blueimp-gallery > .slides > .slide-error > .slide-content {
	display: none;
}
.blueimp-gallery > .prev,
.blueimp-gallery > .next {
	position: absolute;
	top: 50%;
	left: 15px;
	width: 40px;
	height: 40px;
	margin-top: -23px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #fff !important;
	text-decoration: none;
	text-shadow: 0 0 2px #000;
	text-align: center;
	background: #222;
	background: rgba(0, 0, 0, 0.5);
	-webkit-box-sizing: content-box;
		 -moz-box-sizing: content-box;
					box-sizing: content-box;
	border: 3px solid #fff;
	-webkit-border-radius: 23px;
		 -moz-border-radius: 23px;
					border-radius: 23px;
	opacity: 0.5;
	cursor: pointer;
	display: none;
}
.blueimp-gallery > .next {
	left: auto;
	right: 15px;
}
.blueimp-gallery > .close,
.blueimp-gallery > .title {
	position: absolute;
	top: 15px;
	left: 15px;
	margin: 0 40px 0 0;
	font-size: 20px;
	line-height: 30px;
	color: #fff !important;
	text-shadow: 0 0 2px #000;
	opacity: 0.8;
	display: none;
}
.blueimp-gallery > .close {
	padding: 15px;
	right: 15px;
	left: auto;
	margin: -15px;
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;
}
.blueimp-gallery > .play-pause {
	position: absolute;
	right: 15px;
	bottom: 15px;
	width: 15px;
	height: 15px;
	background: url(../images/play-pause.png) 0 0 no-repeat;
	cursor: pointer;
	opacity: 0.5;
	display: none;
}
.blueimp-gallery-playing > .play-pause {
	background-position: -15px 0;
}
.blueimp-gallery > .prev:hover,
.blueimp-gallery > .next:hover,
.blueimp-gallery > .close:hover,
.blueimp-gallery > .title:hover,
.blueimp-gallery > .play-pause:hover {
	color: #fff !important;
	opacity: 1;
}
.blueimp-gallery-controls > .prev,
.blueimp-gallery-controls > .next,
.blueimp-gallery-controls > .close,
.blueimp-gallery-controls > .title,
.blueimp-gallery-controls > .play-pause {
	display: block;
	-webkit-transform: translateZ(0);
		 -moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			 -o-transform: translateZ(0);
					transform: translateZ(0);
}
.blueimp-gallery-single > .prev,
.blueimp-gallery-left > .prev,
.blueimp-gallery-single > .next,
.blueimp-gallery-right > .next,
.blueimp-gallery-single > .play-pause {
	display: none;
}
.blueimp-gallery > .slides > .slide > .slide-content,
.blueimp-gallery > .prev,
.blueimp-gallery > .next,
.blueimp-gallery > .close,
.blueimp-gallery > .play-pause {
	-webkit-user-select: none;
	 -khtml-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
}
body:last-child .blueimp-gallery > .slides > .slide-error {
	background-image: url(../images/error.svg);
}
body:last-child .blueimp-gallery > .play-pause {
	width: 20px;
	height: 20px;
	background-size: 40px 20px;
	background-image: url(../images/play-pause.svg);
}
body:last-child .blueimp-gallery-playing > .play-pause {
	background-position: -20px 0;
}

*+html .blueimp-gallery > .slides > .slide {
	min-height: 300px;
}
*+html .blueimp-gallery > .slides > .slide > .slide-content {
	position: relative;
}
.img-thumb-box {
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	float:left;
	margin:0px 5px 5px 0px;
	border:solid 1px #ced4da;
	border-radius: 4px;
	background-color: #FBFBFB;
	width:140px;	
	height:93px;
}
.img-thumb-box img {
	width:100%;		
	height:auto;
}
/*SM-360*/
@media (min-width: 360px) {
	.img-thumb-box { width:160px; height:106px; }
}
/*SM*/
@media (min-width: 576px) {
	.img-thumb-box { width:165px; height:110px; }
}
/*MD*/
@media (min-width: 768px) {
	.img-thumb-box { width:167px; height:111px; }
}
/*LG*/
@media (min-width: 992px) {
	.img-thumb-box { width:181px; height:121px; }
}
/*XL*/
@media (min-width: 1200px) {
	.img-thumb-box { width:217px; height:145px; }
}